body {
    text-align: center;
    color: rgb(0,2,110);
    text-decoration: underline;
    line-height: 1.5em;
    font-size: 20px;
    font-style: fantasy;
    text-shadow:2px 1px 4px #000000;
    font-family: monospace ;

}

